@charset "UTF-8";

/* 초기화시작 */

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

body {
    font-family: 'nanumsquare';
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.wrap:after,
ul:after,
.cl:after,
a:after {
    content: "";
    clear: both;
    display: block;
}

.blind {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}


/* 초기화끝 */


/* 헤더시작 */

header {
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid silver;
    box-shadow: 0 1px 2px lightgray;
    margin: 0 auto;
}

header h1 {
    padding: 25px 0;
}

header #gnb {
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 18px;
    font-weight: bold;
}

header #gnb li {
    float: left;
    margin-right: 20px;
}

header #gnb li:last-child {
    margin-right: 0;
}


/* 헤더끝 */


/* 메뉴시작 */

.accordion {
    float: left;
    margin-left: 150px;
}

.cate {
    width: 150px;
    position: relative;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: rgb(194, 188, 188);
    border-radius: 3px
}

.cate:last-child {
    border-bottom: 1px solid rgb(230, 224, 224);
}

.cate .menu {
    display: block;
    position: relative;
    width: 100%;
    background: rgb(219, 215, 215);
    height: 80px;
}

.cate .menu .menulink {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 70%;
    padding-left: 15px;
    line-height: 80px;
    font-weight: 800;
}

.cate .menu .subopen {
    position: absolute;
    width: 8px;
    height: 8px;
    right: 15px;
    padding: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
}

.cate ul li {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.cate ul li:first-child {
    padding-top: 20px;
}

.cate ul li:last-child {
    padding-bottom: 20px;
}

.cate ul li a {
    font-size: 15px;
}


/* 메뉴끝 */

.main {
    margin-top: 200px;
  
}

.main .wrap{
	padding-top: 20px;
	border: 1px solid silver;
	border-radius: 10px;
	height: 400px;
	
}
.reserve_div{
	margin-bottom: 20px;
}

.main .wrap a {
	width: 46px;
    height: 68px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
	
} 


.main .wrap .prev {
    left: 520px;
}

.main .wrap .next {
    right: 518px;
}

.main .wrap .page {
    width: 66px;
    height: 68px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 568px;
}

.slide-text {
    width: 600px;
    height: 300px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 508px;
    top: 50px;
    font-size: 30px;
    color: white;
}

.main .wrap .page li:first-child {
    font-family: 'S-CoreDream-3Light';
    color: #ccc;
}

.main .wrap .page li:last-child {
    color: #666666
}


/* swiper시작 */

#frame {
    width: 1200px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#frame .slide {
    width: 4800px;
    height: 600px;
    position: relative;
}

#frame .slide li {
    float: left;
    width: 1200px;
    height: 600px;
}

#frame .slide li:nth-child(1) {
}

#frame .slide li:nth-child(2) {
}

#frame .slide li:nth-child(3) {
}

#frame .slide li {
    text-align: center;
}

#frame .slide .text {
    color: #eee;
    padding: 0 0 44px 30px;
    box-sizing: border-box;
    margin: 220px 60px 0 0;
}

#frame .slide .text h3 {
    font-size: 30px;
    line-height: 1.6;
}

#frame .slide .text span {
    display: block;
    font-size: 28px;
}

#frame .slide .text p {
    padding: 36px 0 20px;
    line-height: 1.6;
    font-size: 20px;
}

#reserve {
    margin-top: 200px;
}


/* footer시작 */

.footer {
    padding: 80px 0 32px;
}

.footer_link {
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.footer_item {
    margin: 0 10px;
}

.footer_copy {
    width: 553px;
    margin: 10px auto 0;
    text-align: center;
}

.footer_logo {
    display: inline-block;
    /* 보여줄 이미지 크기 */
    width: 70px;
    height: 15px;
    background-image: url(../images/projectlogo.png);
    background-size: 245px 95px;
    /* 본 이미지 크기 */
    background-position: 0 -51px;
}

.footer_copy>.text {
    color: #888;
    font-weight: 800;
}

.footer_copy img {
    margin-bottom: 10px;
}


/* 끝 */

.box-wrap {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

.box {
    position: relative;
    width: 300px;
    height: 250px;
    border: 1px solid #c7c8d1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    margin: 5px;
}

.box img {
    width: 300px;
    height: 250px;
    background-size: cover;
    cursor: pointer;
}

.box .info {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.box:hover .info {
    opacity: 1;
}

.box .info h3 {
    font-size: 19px;
    padding-bottom: 0.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

.box .info p {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}

#calendar{
	width: 600px;
	
	margin: 0 auto;
}



/*datepicer 버튼 롤오버 시 손가락 모양 표시*/
.ui-datepicker-trigger{cursor: pointer;}
/*datepicer input 롤오버 시 손가락 모양 표시*/
.hasDatepicker{cursor: pointer;}

 .ui-widget-header { border: 0px solid #dddddd; background: #fff; } 

 .ui-datepicker-calendar>thead>tr>th { font-size: 24px !important; } 

 .ui-datepicker .ui-datepicker-header { position: relative; padding: 10px 0; } 

 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default,
 .ui-button,
 html .ui-button.ui-state-disabled:hover,
 html .ui-button.ui-state-disabled:active { border: 0px solid #c5c5c5; background-color: transparent; font-weight: normal; color: #454545; text-align: center; font-size: 14px;} 

 .ui-datepicker .ui-datepicker-title { margin: 0 0em; line-height: 16px; text-align: center; font-size: 14px; padding: 0px; font-weight: bold; } 

 .ui-datepicker { display: none; background-color: #fff; border-radius: 4px; margin-top: 10px; margin-left: 0px; margin-right: 0px; padding: 20px; padding-bottom: 10px; width: 300px; box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); } 

 .ui-widget.ui-widget-content { border: 1px solid #eee; } 

 #datepicker:focus>.ui-datepicker { display: block; } 

 .ui-datepicker-prev,
 .ui-datepicker-next { cursor: pointer; } 

 .ui-datepicker-next { float: right; } 

 .ui-state-disabled { cursor: auto; color: hsla(0, 0%, 80%, 1); } 

 .ui-datepicker-title { text-align: center; padding: 10px; font-weight: 100; font-size: 20px; } 

 .ui-datepicker-calendar { width: 300px; } 

 .ui-datepicker-calendar>thead>tr>th { padding: 5px; font-size: 30px; font-weight: 400; } 

 .ui-datepicker-calendar>tbody>tr>td>a { color: #000; font-size: 15px !important; font-weight: bold !important; text-decoration: none;}

 .ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover { cursor: auto; background-color: #fff; } 

 .ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 44px; height: 30px; cursor: pointer; padding: 5px; font-weight: 100; text-align: center; font-size: 12px; } 

 .ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; } 

 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus,
 .ui-button:hover,
 .ui-button:focus { border: 0px solid #cccccc; background-color: transparent; font-weight: normal; color: #2b2b2b; } 

 .ui-widget-header .ui-icon { background-image: url('./btns.png'); } 

 .ui-icon-circle-triangle-e { background-position: -20px 0px; background-size: 36px; } 

 .ui-icon-circle-triangle-w { background-position: -0px -0px; background-size: 36px; } 

 .ui-datepicker-calendar>tbody>tr>td:first-child a { color: red !important; } 

 .ui-datepicker-calendar>tbody>tr>td:last-child a { color: #0099ff !important; } 

 .ui-datepicker-calendar>thead>tr>th:first-child { color: red !important; } 

 .ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff !important; } 

 .ui-state-highlight,
 .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight { border: 0px; background: #f1f1f1; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; } 

 .inp { padding: 10px 10px; background-color: #f1f1f1; border-radius: 4px; border: 0px; } 

 .inp:focus { outline: none; background-color: #eee; } 
 
